<div ng-include="'views/layout/main.html'"></div>


<div class="content col-xs-6 col-lg-10" style="float: right; margin-right: 2%">
    <div class="input-group" style="width: 30%;float:right;margin-top: 7px">
        <input type="text" value="aaa" class="search-query form-control"  placeholder="Search User" ng-model="search" />
        <br><br>
    </div>

    <table class="table table-hover col-md-8 ">
        <thead>
        <tr style="color: #3b3b1f">
            <th><h3>Image</h3></th>
            <th><h3>Name</h3></th>
            <th><h3>Model</h3></th>
            <th><h3>Manufacturer</h3></th>
            <th><h3>Classification</h3></th>
            <th><h3>Seats</h3></th>
            <th><h3>Speed</h3></th>
            <th><h3>Range</h3></th>
            <th><h3>Height</h3></th>
            <th><h3>Width</h3></th>
            <th><h3>Update | Delete</h3></th>
        </tr>
        </thead>

        <tr ng-repeat="aircraft in aircrafts | filter:search" style="color: #800;">
            <td><h4><img ng-src="api/public/img/aircrafts/{{aircraft.images[0].imageAircrafts}}" width="50px" height="50px"></h4></td>
            <td><h4>{{aircraft.name}}</h4></td>
            <td><h4>{{aircraft.model}}</h4></td>
            <td><h4>{{aircraft.manufacturer}}</h4></td>
            <td><h4>{{aircraft.classification}}</h4></td>
            <td><h4>{{aircraft.seats}}</h4></td>
            <td><h4>{{aircraft.speed}}</h4></td>
            <td><h4>{{aircraft.range}}</h4></td>
            <td><h4>{{aircraft.height}}</h4></td>
            <td><h4>{{aircraft.width}}</h4></td>
            <td><a class="btn" >Update</a> | <a class="btn" ng-click="deleteAir(aircraft.id)">Delete</a></td>
        </tr>
    </table>
</div>